*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ul {
    margin: 0;
    padding: 0;
    display: flex;

}
li {
    list-style: none;
}
.list-item{
    text-decoration: none;
    position: relative;
    display: block;
    padding: 1rem 2rem;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    transition: 1s;
}
.list-item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(1);
    opacity: 0;
    transition: 1s;
    color: white;
   border-top: 2px solid red;
    border-bottom: 2px solid red;
    
}
.list-item:hover:before
{
    transform: scale(1.2);
    opacity: 1;
    color: white;
}
.list-item:after{
    content: "";
    background: crimson;
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s;
    z-index: -50;
}
.list-item:hover:after{
    transform: scale(1);
    opacity: 0.8;
}
.list-item:hover{
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 5px 10px;
}