gfg-tab {
  background: transparent;
  border: 1px solid transparent;
  color: #060;
  font-size: 18px;
  line-height: 19px;
  text-transform: inherit;
  margin: 1px 12px 0 0;
  padding: 10px 12px 10px;
  white-space: nowrap;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

gfg-panel {
  background: transparent;
  border-radius: 0;
  clear: left;
  border-top-left-radius: 0;
  margin-bottom: 0;
  padding: 0 5px 0;
  word-wrap: break-word;
  width: 95%;
}

gfg-panel ::-webkit-scrollbar {
  background-color: #f5f5f5;
  color: #d3d3d3;
}

gfg-tab[selected] {
  background: #fff;
  border-color: #ddd;
  color: #EC4E20;
  padding-bottom: 11px;
  margin-top: 0;
  position: relative;
  top: 1px;
}

gfg-tabs[data-mode=dark] gfg-tab[selected] {
  background-color: transparent !important;
  border-bottom: 1px solid #131417 !important;
}

@media (max-width: 768px) {
  .ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    flex-wrap: wrap !important;
    width: 300px;
  }
}

gfg-panel .CodeMirror .CodeMirror .cm-s-default div.CodeMirror-vscrollbar {
  display: none;
}

gfg-panel .CodeMirror {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

gfg-panel .CodeMirror ::-webkit-scrollbar {
  background-color: #f5f5f5;
  color: #d3d3d3;
}

gfg-panel .CodeMirror .CodeMirror-scroll {
  overflow: hidden;
}

gfg-panel .CodeMirror .CodeMirror-line {
  padding: 2px 15px !important;
  background-color: unset;
  color: unset;
  font-size: 14px;
  /* overflow: auto; */
  /* white-space: pre-wrap; */
}

gfg-panel .CodeMirror.cm-s-default:not(i) div {
  color: black !important;
}

gfg-panel .CodeMirror.cm-s-monokai:not(i) div {
  color: #999 !important;
}

gfg-panel .CodeMirror.cm-s-default div:not(.CodeMirror-sizer *) gfg-panel .CodeMirror.cm-s-default div.CodeMirror-sizer * {
  background-color: #f5f5f5 !important;
}

gfg-panel .CodeMirror.cm-s-monokai div:not(.CodeMirror-sizer *) {
  background-color: #272822 !important;
}

.highlight .ge,
.highlight .ges,
.highlight .sd {
  font-style: italic;
}

.monokai.highlight pre,
.highlight pre {
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  tab-size: 4;
  font-size: 14px !important;
  margin: 0em 0 !important;
  padding: 12px !important;
  line-height: 125%;
  background-color: #f5f5f5;
}

.monokai.highlight span.linenos,
.monokai.highlight td.linenos .normal,
span.linenos,
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.monokai.highlight span.linenos.special,
.monokai.highlight td.linenos .special,
span.linenos.special,
td.linenos .special {
  color: #000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

.highlight .hll {
  background-color: #ffc;
}

.highlight {
  background: #f8f8f8;
}

.highlight .c,
.highlight .c1,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .cs {
  color: #3d7b7b;
  font-style: italic;
}

.highlight .err {
  border: 1px solid transparent;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .nt {
  color: green;
  font-weight: 700;
}

.highlight .il,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .o {
  color: #666;
}

.highlight .cp {
  color: #9c6500;
}

.highlight .gd {
  color: #a00000;
}

.highlight .ges {
  font-weight: 700;
}

.highlight .gr {
  color: #e40000;
}

.highlight .gh,
.highlight .gp {
  color: navy;
  font-weight: 700;
}

.highlight .gi {
  color: #008400;
}

.highlight .go {
  color: #717171;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .gu {
  color: purple;
  font-weight: 700;
}

.highlight .gt {
  color: #04d;
}

.highlight .bp,
.highlight .kp,
.highlight .nb,
.highlight .sx {
  color: green;
}

.highlight .kt {
  color: #b00040;
}

.highlight .dl,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .sh {
  color: #ba2121;
}

.highlight .na {
  color: #687822;
}

.highlight .nc,
.highlight .nn {
  color: #00f;
  font-weight: 700;
}

.highlight .no {
  color: #800;
}

.highlight .nd {
  color: #a2f;
}

.highlight .ni {
  color: #717171;
  font-weight: 700;
}

.highlight .ne {
  color: #cb3f38;
  font-weight: 700;
}

.highlight .fm,
.highlight .nf {
  color: #00f;
}

.highlight .nl {
  color: #767600;
}

.highlight .nv,
.highlight .ss,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #19177c;
}

.highlight .ow {
  color: #a2f;
  font-weight: 700;
}

.highlight .w {
  color: #bbb;
}

.highlight .sd {
  color: #ba2121;
}

.highlight .se {
  color: #aa5d1f;
  font-weight: 700;
}

.highlight .si {
  color: #a45a77;
  font-weight: 700;
}

.highlight .sr {
  color: #a45a77;
}

.monokai.highlight pre {
  background-color: #272822 !important;
}

.monokai.highlight {
  background: #272822;
  color: #f8f8f2;
}

.monokai.highlight .hll {
  background-color: #49483e;
}

.monokai.highlight .c,
.monokai.highlight .c1,
.monokai.highlight .ch,
.monokai.highlight .cm,
.monokai.highlight .cp,
.monokai.highlight .cpf,
.monokai.highlight .cs,
.monokai.highlight .gu {
  color: #959077;
}

.monokai.highlight .err {
  color: #ed007e;
  /* background-color: #1e0010; */
}

.monokai.highlight .bp,
.monokai.highlight .esc,
.monokai.highlight .g,
.monokai.highlight .gh,
.monokai.highlight .gr,
.monokai.highlight .gt,
.monokai.highlight .n,
.monokai.highlight .nb,
.monokai.highlight .ni,
.monokai.highlight .nl,
.monokai.highlight .nn,
.monokai.highlight .nv,
.monokai.highlight .p,
.monokai.highlight .pm,
.monokai.highlight .py,
.monokai.highlight .vc,
.monokai.highlight .vg,
.monokai.highlight .vi,
.monokai.highlight .vm,
.monokai.highlight .w,
.monokai.highlight .x {
  color: #f8f8f2;
}

.monokai.highlight .go,
.monokai.highlight .k,
.monokai.highlight .kc,
.monokai.highlight .kd,
.monokai.highlight .kp,
.monokai.highlight .kr,
.monokai.highlight .kt,
.monokai.highlight .no {
  color: #66d9ef;
}

.monokai.highlight .il,
.monokai.highlight .l,
.monokai.highlight .m,
.monokai.highlight .mb,
.monokai.highlight .mf,
.monokai.highlight .mh,
.monokai.highlight .mi,
.monokai.highlight .mo,
.monokai.highlight .se {
  color: #ae81ff;
}

.monokai.highlight .gd,
.monokai.highlight .kn,
.monokai.highlight .nt,
.monokai.highlight .o,
.monokai.highlight .ow {
  color: #ff4689;
}

.monokai.highlight .ge,
.monokai.highlight .ges {
  color: #f8f8f2;
  font-style: italic;
}

.monokai.highlight .ges {
  font-weight: 700;
}

.monokai.highlight .fm,
.monokai.highlight .gi,
.monokai.highlight .na,
.monokai.highlight .nc,
.monokai.highlight .nd,
.monokai.highlight .ne,
.monokai.highlight .nf,
.monokai.highlight .nx {
  color: #a6e22e;
}

.monokai.highlight .gp {
  color: #ff4689;
  font-weight: 700;
}

.monokai.highlight .gs {
  color: #f8f8f2;
  font-weight: 700;
}

.monokai.highlight .dl,
.monokai.highlight .ld,
.monokai.highlight .s,
.monokai.highlight .s1,
.monokai.highlight .s2,
.monokai.highlight .sa,
.monokai.highlight .sb,
.monokai.highlight .sc,
.monokai.highlight .sd,
.monokai.highlight .sh,
.monokai.highlight .si,
.monokai.highlight .sr,
.monokai.highlight .ss,
.monokai.highlight .sx {
  color: #e6db74;
}

[data-dark-mode=true] .CodeMirror.cm-s-default *,
[data-dark-mode=true] .CodeMirror.cm-s-default>* {
  background-color: white !important;
}

gfg-tabs[data-mode=dark] .monokai.highlight pre {
  color: white;
}