/* .Container {
  padding: 20px 20px;
  border: 3px solid red;
  padding: 10px 10px;
  background-color: aliceblue;
  font-size: 2rem;
}
.para {
  font-size: 2rem;
  border: 1px dashed green;
}
.cheetha {
  height: 1000px;
  width: 1000px;
  background-color: transparent;
  border: 30px solid green;
  border-radius: 10px;
  filter: grayscale(0.5);
} */
